@import "tailwindcss";

:root {
  --primary: #B1202A;
  --secondary: #180607;
  --neutral: #FCEEEF;
}

/* classes custom */
.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }

.bg-secondary { background-color: var(--secondary); }
.text-secondary { color: var(--secondary); }

.bg-neutral { background-color: var(--neutral); }
.text-neutral { color: var(--neutral); }

/* Déclaration de la font */
@font-face {
  font-family: "TulpenOne";
  src: url("/fonts/Tulpen_One/TulpenOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoFlex";
  src: url("/fonts/Roboto_Flex/RobotoFlex.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Optionnel : créer une variable pour la réutiliser */
:root {
  --font-primary: "TulpenOne", sans-serif;
  --font-secondary: 'RobotoFlex', sans-serif;
}

/* Classe custom Tailwind */
.font-primary { font-family: var(--font-primary); }
.font-secondary { font-family: var(--font-secondary); }